services:
  server:
    build:
      context: .
      dockerfile: Dockerfile.server
    container_name: server
    ports:
      - "8000:8000"
    networks:
      - chatnet
    stdin_open: true
    tty: true

  rust-server:
    build:
      context: ./rustServer
    container_name: rust-server
    ports:
      - "8001:8000"
    networks:
      - chatnet
    stdin_open: true
    tty: true

  javarmi-server:
    build:
      context: ./JavaRMI
      dockerfile: Dockerfile.server
    container_name: javarmi-server
    ports:
      - "8101:8101"
    networks:
      - chatnet

  rmi-bridge:
    build:
      context: ./JavaRMI
      dockerfile: Dockerfile.bridge
    container_name: rmi-bridge
    environment:
      - RMI_HOST=javarmi-server
      - RMI_PORT=8101
      - BRIDGE_PORT=8201
    ports:
      - "8201:8201"
    depends_on:
      - javarmi-server
    networks:
      - chatnet

  grpc-server:
    build:
      context: ./pythonGRPC
      dockerfile: Dockerfile.server
    container_name: grpc-server
    ports:
      - "50051:50051"
    networks:
      - chatnet

  client:
    build:
      context: .
      dockerfile: Dockerfile.client
    networks:
      - chatnet
    depends_on:
      - server
      - rust-server
    stdin_open: true
    tty: true

  rust-client:
    build:
      context: ./rustClient
    depends_on:
      - server
      - rust-server
    networks:
      - chatnet
    stdin_open: true
    tty: true

networks:
  chatnet:
    driver: bridge
